Thank you for participating in user testing for I Don't Want An F. We appreciate the feedback you gave us. We used the feedback you provided to change the features of our app and to add new features. Based on the feedback given and the information we gathered we came to these conclusions 
- On ios, buttons were not solid colors like on android. Users testing on android had an easier time navigating the app.
- The filter buttons were big and users often clicked on them first before seeing the comments. 
- On the rate screen, the submit button was blocked by the keyboard. On the details screen, the keyboard blocked some of the pages. 

The changes we already made:
- Changing the rate buttons to a dropdown. 
- Fixing the keyboard issues in the rate and details screen
- Adding a messages button to the posting page 

The changes we plan on making:
- Adding a page after the user submits a rating 
- Fixing UI and layout 
- Removing the text from the text input box after submitting a comment 
- Ability to log in after logging in as a guest
- Ability to log out 
- Going to another student user page 

Thank you again for helping us out. 
 


